<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
</head>
<body>
<img src="espace_fumeur.jpg" width="100%" id="image">
	<h1>Espace Fumeur</h1>
  <div class="Conditions">
    <h2>Jour</h2>
    <select id="Jour" name="jour">
      <option value="Lundi">Lundi</option>
      <option value="Mardi">Mardi</option>
      <option value="Mercredi">Mercredi</option>
      <option value="Jeudi">Jeudi</option>
      <option value="Vendredi">Vendredi</option>
    </select>
  </div>
  <form method="get">
	<div class="Conditions">
    <h2>Conditions</h2>
    <form method="get">
    <select>
      <option>Récréation du matin</option>
      <option>Récréation de l'après midi</option>
    </select>
    <button type="submit">rechercher</button>
  </div>
  <br>
  <div class="valeur">
    <div class="colonne">
      <p>Min.</p>
      <p id="valeurmin">{{min}}</p>
      <p>dB</p>
    </div>
    <div class="colonne">
      <p>|</p>
      <p>|</p>
      <p>|</p>
    </div>
    <div class="colonne">
      <p>Moy.</p>
      <p id="valeurmoy">{{moy}}</p>
      <p>dB</p>
    </div>
    <div class="colonne">
      <p>|</p>
      <p>|</p>
      <p>|</p>
    </div>
    <div class="colonne">
      <p>Max.</p>
      <p id="valeurmax">70</p>
      <p>dB</p>
    </div>
  </div>
</body>
</html>
