<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveau sonore</title>
	<link rel="stylesheet" type="text/css" href="main.css"/> 
	<link rel="stylesheet" type="text/css" href="mainoustyle.css"/> 
</head>
<body>
		<body>
		<div id="barre"> <!-- division de la barre de menu -->
			<img id="logo" src="Images/Logo.png"/> <!-- Logo NSI -->
			<ul> <!-- Création d'une liste pour chaque bouton de la barre de menu -->
				<li class ="boutonMenu">
					<p>
						<a href="Accueil.html" id="Accueil">Accueil</a>
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						<a href="Victor.html" id="Victor">squeleton</a>
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						<a href="Raphael.html" id="Raphael">polished thank</a>
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						<a href="Anthony.html" id="Anthony">captain man</a>
					</p>
				</li>
				
				<li class ="boutonMenu">
					<p>
						<a href="Tennis2table.html" id="Page2">guest</a>
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						<a href="lamusique.html" id="Page2">germinal</a>
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						<a href="escrime.html" id="Page2">docteur</a>
					</p>
				</li>
			</ul>
		</div>
		
<div id="Titre">
	
<p>    Menu </p>

	</div>

	
    <img src="https://www.saintemarie-cholet.eu/images/stemarie/logo.svg" 
         <p> YO le rap ! YO le rap ! <p/>
</body>
</html>
 
