<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveau sonore</title>
	<link rel="stylesheet" type="text/css" href="main.css"/> 
</head>
<body>
<div id="Titre">
	
<p>    Menu </p>

	</div>
<li class ="boutonMenu">
					
				</li>
				<li class ="boutonMenu">
					<p>
						no pasaran
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						voiture
					</p>
				</li>
				
				<li class ="boutonMenu">
					<p>
						marcher
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						police
					</p>
				</li>
				<li class ="boutonMenu">
					<p>
						secours
	                                 <p>
	
	
    <img src="https://www.saintemarie-cholet.eu/images/stemarie/logo.svg" 
         <p> YO le rap ! YO le rap ! <p/>
</body>
</html>
 
