<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sound Report</title>
  </head>
  <body>
    <h>Test formulaires</h>
    <form method="get">
      <select class="test" name="test">
        <option value="0">option 0</option>
        <option value="1">option 1</option>
        <option value="2">option 2</option>
      </select>
      <button type="submit" name="button">Send</button>
    </form>
    vous avez choisi l'option {{ exemple }}
  </body>
</html>
