
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
</head>
<body>
<img src="images/23.jpg" width="100%" id="image">
	<h1>La salle des profs (réfectoire) bâtiment L</h1>
  <form method="get">
    <div class="Conditions">
      <h2>Jour</h2>
        <select name="Jour" id="jour">
        <option value="Lundi">Lundi</option>
        <option value="Mardi">Mardi</option>
        <option value="Mercredi">Mercredi</option>
        <option value="Jeudi">Jeudi</option>
        <option value="Vendredi">Vendredi</option>
      </select>
      <button type="submit">rechercher</button>
    </div>
    <div class="Conditions">
      <h2>Conditions</h2>
      <select name="condition">
        <option>Récréation du matin</option>
        <option>Récréation de l'après midi</option>
      </select>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="diagramme">
      <div id="colonne1">
      <div id="Dangereux">
        hello
      </div>
      <div id="Fatiguant">
        hello
      </div>
      <div id="Supportable">
        hello
      </div>
      </div>
      <div id="colonne2">
        hello
      </div>
    </div>
  </body>
  </html>
