.bouton {
    position: absolute;
	z-index: 1;
}
.Conditions {
	float:left;
	margin-top: -1.3%;
}

#image {
	height: 125px;
	transition: height 1.5s;
}

#image:hover {
	height:280px;
	transition-duration: 1s;
}
iframe {
	width :30%;
	height :500px;
	position:absolute;
	background-color: white;
	z-index: 2;
}

#Dangereux {
	background-color: red;
}

#Fatiguant {
	background-color: orange;
}

#Supportable {
	background-color: green;
}

#Plan {
	position:absolute;
	z-index: 0;
}

#bouton_espace_fumeur {
	margin-top: 42%;
	margin-left: 45%;
}

#espace_fumeur {
	margin-top: 42%;
	margin-left: 47%;
}


#bouton_cdi {
	margin-top :27%;
	margin-left :39%;
}

#CDI {
	margin-top :27%;
	margin-left :41%;
}

#bouton_cour_prem_arbres {
	margin-top :39%;
	margin-left :25%;
}

#Cour_prem_arbre {
	margin-top :39%;
	margin-left :27%;
}

#bouton_Aquarium_file_dattente {
	margin-top :41%;
	margin-left :38%;
}

#Aquarium_file_dattente {
	margin-top :41%;
	margin-left :40%;
}

#bouton_CDI_manger_file_dattente{
	margin-top :32%;
	margin-left :37%;
}

#CDI_manger_file_dattente {
	margin-top :32%;
	margin-left :39%;
}

#bouton_foyer{
	margin-top :32%;
	margin-left :65%;
}

#Foyer {
	margin-top :32%;
	margin-left :67%;
}

#bouton_cour_des_seconde{
	margin-top :20%;
	margin-left :15%;
}

#cour_des_secondes {
	margin-top :20%;
	margin-left :17%;
}

#bouton_salle_prof_bat_L_coin_distributeur{
	margin-top :18%;
	margin-left :41%;
}

#salle_prof_bat_L_coin_distributeur {
	margin-top :18%;
	margin-left :43%;
}

#bouton_salle_prof_bat_L_coin_ordinateur{
	margin-top :18%;
	margin-left :42%;
}

#salle_prof_bat_L_coin_ordinateur {
	margin-top :18%;
	margin-left :44%;
}

#bouton_complexe_sportif{
	margin-top :28%;
	margin-left :87%;
}

#complexe_sportif {
	margin-top :28%;
	margin-left :89%;
}

#bouton_refectoire_prof_bat_P{
	margin-top :34%;
	margin-left :24%;
}

#refectoire_prof_bat_P {
	margin-top :34%;
	margin-left :26%;
}

#bouton_refectoire_eleves{
	margin-top :33%;
	margin-left :41%;
}

#refectoire_eleves {
	margin-top :33%;
	margin-left :43%;
}

#bouton_toilette_prem{
	margin-top :37%;
	margin-left :39%;
}

#toilette_prem {
	margin-top :37%;
	margin-left :41%;
}

#bouton_P302{
	margin-top :35%;
	margin-left :17%;
}

#P302 {
	margin-top :35%;
	margin-left :19%;
}

#bouton_t301 {
	margin-top :35%;
	margin-left :57%;
}

#t301 {
	margin-top :35%;
	margin-left :59%;
}

#bouton_salle_de_cour {
	margin-top :43%;
	margin-left :18%;
}

#salle_de_cour {
	margin-top :43%;
	margin-left :20%;
}

#bouton_cour_prem_casier {
	margin-top :37%;
	margin-left :37%;
}

#cour_prem_casier {
	margin-top :37%;
	margin-left :39%;
}

#bouton_couloir_term {
	margin-top :35%;
	margin-left :60%;
}

#couloirs_term {
	margin-top :35%;
	margin-left :62%;
}

#bouton_couloir_sec,#couloir_sec {
	margin-top :25%;
	margin-left :23%;
}

#couloir_sec {
	margin-top :25%;
	margin-left :25%;
}

#bouton_chapelle {
	margin-top :35%;
	margin-left :46%;
}

#chapelle {
	margin-top :35%;
	margin-left :48%;
}

#bouton_préau_cours_term {
	margin-top :40%;
	margin-left :54%;
}

#préau_term{
	margin-top :40%;
	margin-left :56%;
}

#bouton_couloir_prem {
	margin-top :45%;
	margin-left :21%;
}

#couloir_prem {
	margin-top :45%;
	margin-left :23%;
}

